<div id="header">
    <p style="color:black; text-align:center; font-weight:bold; font-family:Tahoma, sans-serif; font-size:24px;">
        Data Gathering with JSON/SQL
    </p>
</div>

<div style="background-color:#bfbfbf; padding:8px; border:2px dotted black; border-radius:8px; font-family:sans-serif; line-height: 1.7em">

Data gathering is the first and one of the most essential steps in the machine learning workflow.

**JSON (JavaScript Object Notation)** and **SQL (Structured Query Language)** play vital roles in accessing and managing data efficiently. SQL is primarily used for interacting with relational databases, while JSON is a lightweight data interchange format commonly used for APIs.

</div>

In [1]:
import pandas as pd

# Woking with JSON

In [2]:
df = pd.read_json('world-population-by-country.json')

In [3]:
df.columns = ['Position', 'Country', 'Population', 'Yearly Change', 'Net Change', 'Density per Square Km', 'Land Area in Square Km', 'Migrants Net', 'Fertility Rate', 'Median Age', 'Urban Population', 'World Share']
print(df.head())

   Position        Country     Population Yearly Change  Net Change  \
0         1          China  1,439,323,776        0.39 %   5,540,090
1         2          India  1,380,004,385        0.99 %  13,586,631
2         3  United States    331,002,651        0.59 %   1,937,734
3         4      Indonesia    273,523,615        1.07 %   2,898,047
4         5       Pakistan    220,892,340        2.00 %   4,327,022

  Density per Square Km Land Area in Square Km Migrants Net Fertility Rate  \
0                   153              9,388,211     -348,399            1.7
1                   464              2,973,190     -532,687            2.2
2                    36              9,147,420      954,806            1.8
3                   151              1,811,570      -98,955            2.3
4                   287                770,880     -233,379            3.6

  Median Age Urban Population World Share
0         38             61 %     18.47 %
1         28             35 %     17.70 %
2         38             83 %      4.25 %
3         30             56 %      3.51 %
4         23             35 %      2.83 %

In [4]:
display(df.head())

,Position,Country,Population,Yearly Change,Net Change,Density per Square Km,Land Area in Square Km,Migrants Net,Fertility Rate,Median Age,Urban Population,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

In [6]:
print(df.dtypes)

Position                   int64
Country                   object
Population                object
Yearly Change             object
Net Change                object
Density per Square Km     object
Land Area in Square Km    object
Migrants Net              object
Fertility Rate            object
Median Age                object
Urban Population          object
World Share               object
dtype: object

In [5]:
# Save the first few rows of the DataFrame to a CSV file
df.to_csv('population_data.csv', index=False)

# Working with SQL

In [ ]:
!pip install mysql.connector

Processing c:\users\91842\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f\mysql_connector-2.2.9-cp38-cp38-win_amd64.whl
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [ ]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [ ]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

In [ ]:
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]